.clickable {
  cursor: pointer;
}

.traitblock {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5rem;
}

.traitbutton {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.traitname {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.traitdescription {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: span 2;
}