---
import WorldList from "@/components/WorldList.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { getCollection } from "astro:content";

const worldEntries = (await getCollection("world"))
  .sort((a, b) => {
    const na = a.data.name.toLowerCase().replace(/^the +/, '');
    const nb = b.data.name.toLowerCase().replace(/^the +/, '');
    if (na < nb) {
      return -1;
    }
    if (na > nb) {
      return 1;
    }
    return 0;
  })

function byPath(path: string) {
  return worldEntries.filter(entry => entry.data.path == path);
}
---

<SiteLayout frontmatter={{ title: "The Breathtaking World", description: "People, places, and groups you can use in your own Breathtaking Comics or other superhero games" }}>
  <div class="grid">
    <div>
      <h1>Heroes</h1>
      <WorldList elements={byPath("heroes")} />

      <h1>Organizations</h1>
      <WorldList elements={byPath("organizations")} />
    </div>
    <div>
      <h1>Villains</h1>
      <WorldList elements={byPath("villains")} />
    </div>
  </div>

  <h1>Settings</h1>
  <WorldList elements={byPath("settings")} />
</SiteLayout>
