$color-comic-box-interior:  #ffc43a;
$color-comic-box-exterior: #000; //black;

.grid {
    display: grid;
    grid-template-columns: 66% 34%;
}

.page {
    border-radius: 0.5rem;
    background-color: #eee;
    padding: 0.5rem;
    font-weight: bold;
}

.panel {
    border: 2px solid $color-comic-box-exterior;
    padding: 4px;
    background: $color-comic-box-interior;
    box-shadow: 5px 5px $color-comic-box-exterior;
    color: $color-comic-box-exterior;
}