---
import styles from "./Tags.module.scss";

const { tags } = Astro.props;
---
<p>
  {tags.map((tag: any) => 
    <>
      <span class={styles.tag}>
        <a href={`/tags/${tag.id}`} class="secondary">
          {tag.data.name}
        </a>
      </span>
    </>
  )}
</p>