---
const { tags } = Astro.props;
---
{(tags && tags.length > 0) ?
<p>
  {tags.map((tag: any, i: number) => 
    <>
      {i > 0 ? ', ' : ''}
      <a href={`/tags/${tag.id}`}>
        {tag.data.name}
      </a>
    </>
  )}
</p>
: <></>
}
