---
import { tooltipText } from '@/utils';
import { getEntry } from 'astro:content';

const { id, title } = Astro.props;
const entry = (await getEntry("world", id || ''))

if (!entry) {
  throw new Error(`No World entry with id ${id}`)
}
---
<a href={`/${entry.id}`} data-tooltip={tooltipText(entry.data.description)}>{title ?? entry.data.name}</a>