---
import World from "@/components/World.astro"

const elements = Astro.props.elements
---
<span>
  <strong>
    {elements.map((entry: { id: any; data: { name: string, description?: string | undefined } }, i: number) => 
      <>
        {i > 0 ? ' | ' : ''}
        <World id={entry.id} />
      </>
    )}
  </strong>
</span>
