---
import { getEntry } from 'astro:content';

const { id } = Astro.props;
const entry = (await getEntry("world", id || ''))

if (!entry) {
  throw new Error(`No World entry with id ${id}`)
}
---
<a href={`/world/${entry.id}`}>{entry.data.name}</a>