---
import World from "@/components/World.astro"
import WorldListMembers from "./WorldListMembers.astro";

const elements = Astro.props.elements
---
{elements.map((entry: { id: any; data: { name: string, description?: string | undefined } }) => 
  <p>
    <strong><World id={entry.id} /></strong><br />
    {entry.data.description || 'No description'}
    <WorldListMembers entry={entry} />
  </p>
)}
