---
import { getCollection, getEntry, render } from 'astro:content';
import SiteLayout from "@/layouts/SiteLayout.astro"
import HeroStats from "@/components/HeroStats"
import VillainStats from "@/components/VillainStats"

export async function getStaticPaths() {
  const entries = await getCollection("world");
  return entries.map(entry => ({
    params: {
      id: entry.id
    }
  }))
}

const { id } = Astro.params;
const entry = (await getEntry("world", id || ''))

if (!entry) {
  throw new Error(`Could not find item '${id}' in world collection`)
}

const { Content, headings } = await render(entry);
---
<SiteLayout frontmatter={{"title": entry.data.name, "description": entry.data.description}}>
  <div class="grid">
    <div>
      <Content />
    </div>
    {entry.data.path.startsWith("heroes") &&
      <div>
        <HeroStats frontmatter={entry.data} />
      </div>
    }
    {entry.data.path.startsWith("villains") &&
      <div>
        <VillainStats frontmatter={entry.data} />
      </div>
    }
  </div>
</SiteLayout>