$toc-breakpoint: 768px;

@media (min-width: $toc-breakpoint) {
  .articlewithtoc {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 12rem;
      grid-template-rows: auto;
      grid-template-areas:
        "article toc";
  }
}

.toc {
  grid-area: toc;
  position: sticky;
  // Needed to make sticky work
  top: 0;
  align-self: start;
  // Make sticky scrollable
  max-height: 100vh;
  overflow-y: auto;
}

@media (max-width: $toc-breakpoint) {
  .toc {
    display: none;
  }
}

.article {
  grid-area: article;
}