.articlewithtoc {
  display: grid;
  gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "toc article";
}

.toc {
  grid-area: toc;
  position: sticky;
  // Needed to make sticky work
  top: 0;
  align-self: start;
  // Make sticky scrollable
  max-height: 100vh;
  overflow-y: auto;
}

.article {
  grid-area: article;
}