$nav-breakpoint: 768px;

.burger {
  cursor: pointer;
}

@media (max-width: $nav-breakpoint) {
  .invisible {
    display: none;
  }

  .responsive {
    flex-direction: column;

    ul {
      flex-direction: column;
    }
  }

}

@media (min-width: $nav-breakpoint) {
  .burger {
    display: none;
  }

  .responsive {
    flex-direction: row;

    ul {
      flex-direction: row;
    }
  }
}