---
import '@/styles/SiteLayout.scss'

const { title = "Breathtaking Comics" } = Astro.props.frontmatter;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
  </body>
  <style>
  </style>
</html>